<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @scorecard.description %>
</p>
<% if @scorecard.user == current_user %>
	<%= link_to 'Edit', edit_scorecard_path(@scorecard) %> |
<% end %>
<%= link_to 'Back', scorecards_path %>