<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @scorecard.description %>
</p>

<%= link_to 'Edit', edit_scorecard_path(@scorecard) %> |
<%= link_to 'Back', scorecards_path %>
