<div class="jumbotron center">
	<h1>Welcome, competitor!</h1>
  <p>.</p>
  <p>
  	This place is for competitions, games, scoring, and keeping track of the competions <u>you're</u> interested in.<br>
  	<%= link_to "Join", "#", class: "btn btn-default btn-lg" %>
  	<%= link_to "Log In", "#", class: "btn btn-primary btn-lg" %>
  </p>
</div>